/* --------------------------------------

    this is my old version css

     -----------------------------------------   */



    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 1600px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #969696  ;
      height: 1600px;
      text-align: center;
      color: black;
      box-shadow: 2px 1px 5px grey;
     
      
    }
        
        
        .menu{
            
            font-size: 16px;
            background-color:#E3E3E3;
           
            
            
            
        }
        
        .navbar-text{
             text-align: center;
        }
        
        .page{
      background-color: white;
      height: 1600px;
      color: black;
    }
        
    
      .jalos{
          background-color: white;
          padding: 5%;
          font-family: "Courier New", Courier, monospace;
          font-size: 20px;
          
         
          
      }
        
        .btn {
            background-color: #485483;
            color: white;
            margin-bottom: 5%;
            
        }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width:720px) {
        .sidenav {
            height: auto;
            text-align: center;

        }
    }
        
      
