/*
    IMPORT FONTS FROM GOOGLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


/* ---------------------------------------------------
    MAIN STYLE
----------------------------------------------------- */
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

.container {
    width: 100% !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.panel-primary > .panel-heading {
    color: #535353;
    background-color: #f0f0f0;
    border-color: #f0f0f0;
}

.panel-primary {
    border-color: #f0f0f0;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.col-md-4 {
    padding: 0%;
    margin-bottom: 3%;
}

.panel-body td {
    word-wrap: break-word;
    overflow: auto;

}

.panel-body th {
    word-wrap: break-word;
    overflow: auto;

}

.panel-body table {
    table-layout: fixed !important;
}

.element-width-auto {
    width: auto !important;
}

.element-float-left {
    float: left !important;
}

.element-float-right {
    float: right !important;
}

.form-text-align-padd {
    text-align: left;
    padding: 2% 2% 2% 2%;
}

.margin-bottom-4-percent {
    margin-bottom: 4%;
}

/* ---------------------------------------------------
    SIDEBAR  AND UPPER MENU STYLE
----------------------------------------------------- */
#mCSB_1 {
    box-shadow: 1px 2px 5px #424242;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #c5c8cc;
    color: #535353;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #f1f1f1;
    border-right: 1px solid #c5c8cc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #f1f1f1;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #535353;
    background: #fff;
    border-right: 10px solid #efe111;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #535353;
    background: #dee0e2;
}

a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}

a[aria-expanded="true"]::before {
    content: '\e260';
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #f1f1f1;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

.list-unstyled:focus {
    border-right: 10px solid #efe111;
}

a.back, a.back:hover {
    background: #686868 !important;
    color: #fff !important;
}

a.logout {
    background: #686868 !important;
    color: #fff !important;
    border-color: transparent !important;
}

a.logout:hover {
    background: #dee0e2 !important;
    color: #686868 !important;
    border-color: transparent;
    border-right: 10px solid #efe111 !important;
}

.info-btn:hover {
    border-bottom: 5px solid #efe111;
}

.toggle {
    background: #686868 !important;
    color: #fff !important;
}

.toggle:hover {
    background: #dee0e2 !important;
    color: #686868 !important;
    border-right: 10px solid #efe111 !important;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}

#toTop {
    display: none;
    position: fixed;
    bottom: 5px;
    right: 5px;
    z-index: 99;
    border: none;
    outline: none;
    color: #686868;
    font-size: 18px;
    background-color: #efe111;
    opacity: 0.5;
    cursor: pointer;
    padding: 7px;
    border-radius: 6px;
}

#toTop:hover {
    background-color: #dee0e2;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media screen and (max-width: 920px) {
    #sidebar {
        margin-left: -250px;
    }

    #content {
        width: 100%;
    }

    #sidebar.active {
        margin-left: 0;
    }

    #sidebar.unactive {
        margin-left: 0;
    }

    #content {
        width: 100%;
    }

    #content.active {
        width: calc(100% - 250px);
    }

    #content.unactive {
        width: calc(100% - 250px);
    }

    #sidebarCollapse span {
        display: none;
    }

    .form-control {

        display: inline-block;
    }

    .col-md-4 {
        margin-bottom: 5%
    }
}

/* ---------------------------------------------------
    Company registration form
----------------------------------------------------- */
.panel-heading {
    background-color: #EEEEEE;
    padding: 1%;
    text-align: center;
    font-size: 111%;
}

.form-horizontal {
    background-color: #E8E8E8;
    padding: 3%;

}

.panel-body {
    background-color: #E8E8E8;
    text-align: center;
}


/* ---------------------------------------------------
    table, content2, list decoration
----------------------------------------------------- */


table {
    display: inline-table;

}


a.textMark:hover, a.textMark:active {
    color: #2373F6;
    font-size: 140%;
    text-decoration: underline;
}

.panel {
    box-shadow: 1px 2px 5px #424242;
    border-top: 0px;
    border-left: 0px;
    margin: 0 10% 0 10%;


}

.center {
    display: inline-block;
    width: 30%;
}

.form-field-width {
    min-width: 50%;
}


/* -----------------------------------------
          Some general css
 -------------------------------------------*/
.no-borders {
    border: none !important;
}
